<footer class="footer">
    <div class="footer__container">
        <section>
            <p class="footer__about-text">A new programmer is being born</p>
                <a href="https://www.linkedin.com/in/deboracampos/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/dcmicas"><i class="fa-brands fa-github"></i></a>
                           
        </section>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados - 2022
    </section>
</footer>